html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  height: 48px;
  width: 100%;
  background: #eef1f7;
  left: 0px;
  top: 0px;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.row {
  display: flex;
  height: 48px;
  width: 100%;
  box-shadow: 0px 1px 0px #e0e5eb;
}

.col {
  flex: 1;
  width: auto;
  margin-top: 10px;
}

.rowContainer {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: flex-end;
}
